<template name="dns">
  <div class="ui container">
    
    <h1 class="ui header">Darwinian Networks</h1>

    <button class="ui teal fluid button new-dn">New</button>

    <div class="ui segment">
    <div class="ui middle aligned divided list">

    {{#each dns}}
    <div class="item">
      <div class="right floated content">
        <div class="ui right floated main menu">
          <a class="ui item icon edit-dn" href="/dns/edit/{{_id}}"><i class="ui edit icon"></i></a>
          <a class="ui item icon remove-dn"><i class="ui remove icon"></i></a>
          <a class="ui item icon evolve-dn"><i class="ui play icon"></i></a>
        </div>
      </div>
      <div class="content">
        {{name}}
      </div>
    </div>
    {{/each}}

    </div>
    </div>

  </div>
</template>