<template name="drawDn">

  <div class="ui container">
    <div class="ui one column centered grid">
      <div class="column">
        <div id="drawingDiv"></div>
      </div>
    </div>
  </div>

</template>