<template name="editDn">
  <div class="ui container">
    
    <h1 class="ui header">Edit <i>{{name}}</i></h1>

    <form class="ui form add-pop">
      <h4 class="ui dividing header">Add Population</h4>
      <div class="fields">
        <div class="inline field">
          <label>Combative</label>
          <input type="text" name="combative" placeholder="Left hand side">
        </div>
        <div class="inline field">
          <label>Docile</label>
          <input type="text" name="docile" placeholder="Right hand side">
        </div>
      </div>
      <button type="submit" class="ui button teal" tabindex="0">Add</button>
    </form>

    <div class="ui divider"></div>

    {{>drawDn}}

  </div>

</template>