<template name="home">
  <div class="ui container">
    <h2 class="ui center aligned icon header">
      <i class="settings icon"></i>
      <div class="content">
        Darwinian Networks
        <div class="sub header">laboratory</div>
      </div>
    </h2>
  </div>
</template>