<template name="layout">

  <!-- sidebar -->
  <div class="ui sidebar vertical menu">

    <a href="/" class="item">
      <i class="large adjust icon"></i><strong>Home</strong>
    </a>
    <a class="item" href="/dns">DNs</a>
    <a class="item" href="/evolutions">Evolutions</a>

  </div>

  <div class="pusher">
    <div class="container">

      <!-- Top Menu -->
      <div class="ui sticky large secondary network menu">
        <a class="toggle-menu view-ui item" href="#"><i class="sidebar icon"></i></a>
        <div class="right menu">
          <a class="item" href="#"><i class="mail outline icon"></i></a>
        </div>
      </div>

      <!-- Main -->
      <div class="main-content">
      {{>yield}}
      </div>

      <!-- Footer -->
      <div class="ui vertical footer">
        <br>
      </div>

    </div>
  </div>


</template>