<template name="evolutions">
  <div class="ui container">
    
    <h1 class="ui header">Evolutions</h1>

    <div class="ui segment">
    <div class="ui middle aligned divided list">

    {{#each evolutions}}
    <div class="item">
      <div class="right floated content">
        <div class="ui right floated main menu">
          <a class="ui item icon edit-evolution"><i class="ui edit icon"></i></a>
          <a class="ui item icon remove-evolution"><i class="ui remove icon"></i></a>
          <a class="ui item icon" href="/evolution/view/{{_id}}"><i class="ui object group icon"></i></a>
          <a class="ui item icon" href="/evolution/play/{{_id}}/{{lastElement dns}}"><i class="ui play icon"></i></a>
        </div>
      </div>
      <div class="content">
        {{name}}
      </div>
    </div>
    {{/each}}

    </div>
    </div>

  </div>
</template>