<template name="playEvolution">
  <div class="ui container">
    
    <h1 class="ui header">Evolution <i>{{name}}</i></h1>

    <div class="ui container">
    <div class="ui one column centered grid">
      <div class="column">
        <div id="drawingEvoDiv"></div>
      </div>
    </div>
  </div>

  </div>
</template>