<template name="viewEvolution">
  <div class="ui container">
    
    <h1 class="ui header">View Evolution <i>{{name}}</i></h1>

    <div class="ui message">
      <div class="header">
        This page is under construction
      </div>
      <p>Here, users will be able to see each step of a evolution as well as remove some of the steps.</p>
    </div>

  </div>
</template>